.button {
  background-color:Crimson;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

body {
	background-color: Linen;
}

/*.right {
	align-self: right;
	border-left: auto;
	border-right: auto;
}*/

.column{
	float: left;
	width:33.33%;
	padding:5px;
}
/*.row::after {
	coment:"";
	clear:both;
	display: table;
}*/
.inline {
	display: flex;
	flex-direction: row;
}
#container {
	display: flex;
	flex-direction: column;
}

#img {
	width:350px;
}
